:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #c51818;
}

/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #eee;
  padding-right: 5rem;
  margin: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--color-black);
  color: var(--color-white);
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: var(--color-primary);
  letter-spacing: 0.2rem;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding-right: 0;
  }

  section {
    padding: 2rem;
  }

  header {
    width: 100%;
    left: -120%;
  }

  header.active {
    left: 0%;
  }

  #menu-bars {
    display: initial;
  }

  header .navbar {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
  }

  header .navbar a {
    display: block;
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 4rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  z-index: 1000;
}

header .navbar {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding: 1.5rem;
}

header .navbar a {
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--color-black);
}

header .navbar a:hover {
  color: var(--color-primary);
}

#menu-bars {
  position: fixed;
  z-index: 1000;
  top: 1rem;
  left: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--color-black);
  background: var(--color-primary);
  cursor: pointer;
  font-size: 3rem;
  display: none;
}

section {
  padding: 2rem 9%;
  min-height: 100vh;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.home .content img, .tilt-box img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1rem solid var(--color-primary);
}

.tilt-box-about img {
  height: 50rem;
}

.home .content h3 {
  font-size: 4rem;
  color: var(--color-black);
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--color-primary);
  text-transform: uppercase;
}

.home .content p {
  color: var(--color-black);
  font-size: 2.5rem;
  line-height: 2;
}

.tilt-box-wrap {
  position: relative;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.tilt-box-wrap:hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.tilt-box {
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tilt-box strong {
  -webkit-transform: translateZ(40px);
  transform: translateZ(40px);
}

.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}

.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}

.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}

.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}

.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}

.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}

.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}

.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}

.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}

.t_over:nth-child(1):hover ~ .tilt-box {
  -webkit-transform: rotateX(-20deg) rotateY(20deg);
  transform: rotateX(-20deg) rotateY(20deg);
}

.t_over:nth-child(2):hover ~ .tilt-box {
  -webkit-transform: rotateX(-20deg) rotateY(0deg);
  transform: rotateX(-20deg) rotateY(0deg);
}

.t_over:nth-child(3):hover ~ .tilt-box {
  -webkit-transform: rotateX(-20deg) rotateY(-20deg);
  transform: rotateX(-20deg) rotateY(-20deg);
}

.t_over:nth-child(4):hover ~ .tilt-box {
  -webkit-transform: rotateX(0deg) rotateY(20deg);
  transform: rotateX(0deg) rotateY(20deg);
}

.t_over:nth-child(5):hover ~ .tilt-box {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}

.t_over:nth-child(6):hover ~ .tilt-box {
  -webkit-transform: rotateX(0deg) rotateY(-20deg);
  transform: rotateX(0deg) rotateY(-20deg);
}

.t_over:nth-child(7):hover ~ .tilt-box {
  -webkit-transform: rotateX(20deg) rotateY(20deg);
  transform: rotateX(20deg) rotateY(20deg);
}

.t_over:nth-child(8):hover ~ .tilt-box {
  -webkit-transform: rotateX(20deg) rotateY(0deg);
  transform: rotateX(20deg) rotateY(0deg);
}

.t_over:nth-child(9):hover ~ .tilt-box {
  -webkit-transform: rotateX(20deg) rotateY(-20deg);
  transform: rotateX(20deg) rotateY(-20deg);
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--color-black);
}

.heading span {
  text-transform: uppercase;
  color: var(--color-primary);
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about .row .image {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25rem;
  flex: 1 1 25rem;
}

.about .row .image img {
  width: 30rem;
  border-radius: 0.5rem;
  border: 1rem solid var(--color-white);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.about .row .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 55rem;
  flex: 1 1 55rem;
}

.about .row .content h3 {
  color: var(--color-black);
  font-size: 4rem;
}

.about .row .content h3 span {
  color: var(--color-primary);
}

.about .row .content .info {
  color: var(--color-black);
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 2;
}

.about .row .content .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

.about .row .content .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}

.about .row .content .box-container .box p {
  font-size: 1.7rem;
  color: var(--color-black);
  padding: 0.5rem 0;
  line-height: 2;
}

.about .row .content .box-container .box p span {
  color: var(--color-primary);
}

.services .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}

.services .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30rem;
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  background: var(--color-white);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
}
.services .box-container .box:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(238, 212, 212, 0.8);
}

.services .box-container .box i {
  color: var(--color-primary);
  font-size: 5rem;
  padding: 1rem 0;
}

.services .box-container .box h3 {
  color: var(--color-black);
  font-size: 2.5rem;
  padding-top: 1rem;
}

.services .box-container .box p {
  color: var(--color-black);
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 2;
}

.portfolio .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.portfolio .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30rem;
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  border: 1rem solid var(--color-white);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 25rem;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.portfolio .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #fff9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio .box-container .box:hover .content {
  left: 0;
  background: rgba(238, 212, 212, 0.8);
}

.blogs .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.blogs .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30rem;
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  background: var(--color-white);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
.blogs .box-container .box:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.blogs .box-container .box img {
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.blogs .box-container .box h3 {
  color: var(--color-primary);
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.blogs .box-container .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.tilt-box-contact img {
  height: 100%;
  width: 100%;
  border: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.contact .row .image img {
  width: 100%;
}
.contact .row .image img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: var(--color-white);
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--color-black);
  padding: 1rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus {
  border-color: var(--color-primary);
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form textarea {
  height: 20rem;
  resize: none;
}

.contact .row form .btn {
  margin: 0.5rem 0;
}

.tilt-box-contact img {
  color: var(--color-primary);
}

.footer {
  padding: 2.5rem;
  font-size: 2rem;
  color: #666;
  background: var(--color-white);
  text-align: center;
}

.footer span {
  color: var(--color-primary);
}
.footer span:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */