.footer{
  padding: 2.5rem;
  font-size: 2rem;
  color: #666;
  background: var(--color-white);
  text-align: center;
}


.footer span{
  color: var(--color-primary);

  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}
