<section class="about" id="about">

  <h1 class="heading"> about <span> me </span></h1>

  <div class="row">


    <div class="image">
      <div class="tilt-box-wrap">
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <div class="tilt-box tilt-box-about">
          <img src="img/portfolio-avatar.jpg"alt="">
        </div>
      </div>
    </div>

    <div class="content">
      <h3>my name is <span>Bogdan</span></h3>
      <p class="info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet accusamus voluptatum nisi soluta ducimus quam rem, ipsam, possimus, ratione quisquam aut a perspiciatis enim provident quibusdam voluptatem temporibus suscipit alias.</p>
      <div class="box-container">
        <div class="box">
          <p> <span> age: </span> 19 </p>
          <p> <span> gender:</span> male </p>
          <p> <span> experience: </span> 1 years </p>
          <p> <span> freelance:</span> available </p>
        </div>
        <div class="box">
          <p> <span> language: </span> russian/english </p>
          <p> <span> phone:</span> +38-071-491-18-11 </p>
          <p> <span> email: </span> saviorov@gmail.com </p>
          <p> <span> address:</span> Ukraine, Donetsk </p>
        </div>
      </div>
      <a href="#" class="btn">download CV</a>
    </div>

  </div>


</section>
