<section class="contact" id="contact">

  <h1 class="heading"> contact <span> me </span></h1>

  <div class="row">

    <div class="image">

      <div class="tilt-box-wrap">
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <span class="t_over"></span>
        <div class="tilt-box tilt-box-contact">
          <img src="img/contact-img.svg" alt="">
        </div>
      </div>
    </div>


    <form action="">

      <div class="inputBox">
        <input type="text" placeholder="name">
        <input type="email" placeholder="email">
      </div>

      <input type="text" placeholder="subject" class="box">

      <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

      <input type="submit" class="btn" value="send message">

    </form>
  </div>
</section>
