<section class="home" id="home">

<!-- Частицы -->
  <div id="particles-js"></div>

  <div class="content">
    <div class="tilt-box-wrap">
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <span class="t_over"></span>
      <div class="tilt-box">
        <img src="img/portfolio-avatar.jpg" alt="">
      </div>
    </div>
    <h3> Богдан <span>Скотарев</span></h3>
    <p>я <span class="typing-text"> front-end разработчик</span></p>
    <a href="#about" class="btn">обо мне</a>
  </div>


</section>

