<section class="services" id="services">
  <h1 class="heading"> <span>  my </span>services</h1>

  <div class="box-container">
    <div class="box">
      <i class="fas fa-code"></i>
      <h3>web development</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet ipsum perferendis vero ea voluptatibus eveniet, suscipit itaque illum quisquam ducimus? Accusantium, quaerat ad. Aspernatur deleniti natus repudiandae corrupti amet ipsam!</p>
    </div>

    <div class="box">
      <i class="fas fa-brush"></i>
      <h3>graphic design</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, adipisci, nobis incidunt aperiam officia placeat dolores facere magni quas qui explicabo quae asperiores optio. Provident laudantium adipisci ea reprehenderit impedit!</p>
    </div>

    <div class="box">
      <i class="fas fa-bullhorn"></i>
      <h3>seo marketing</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, adipisci, nobis incidunt aperiam officia placeat dolores facere magni quas qui explicabo quae asperiores optio. Provident laudantium adipisci ea reprehenderit impedit!</p>
    </div>

    <div class="box">
      <i class="fas fa-envelope"></i>
      <h3>email marketing</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, adipisci, nobis incidunt aperiam officia placeat dolores facere magni quas qui explicabo quae asperiores optio. Provident laudantium adipisci ea reprehenderit impedit!</p>
    </div>

    <div class="box">
      <i class="fas fa-mobile"></i>
      <h3>Responsive designs</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, adipisci, nobis incidunt aperiam officia placeat dolores facere magni quas qui explicabo quae asperiores optio. Provident laudantium adipisci ea reprehenderit impedit!</p>
    </div>

    <div class="box">
      <i class="fab fa-wordpress"></i>
      <h3>wordpress</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, adipisci, nobis incidunt aperiam officia placeat dolores facere magni quas qui explicabo quae asperiores optio. Provident laudantium adipisci ea reprehenderit impedit!</p>
    </div>


  </div>
</section>
